{% extends 'base.html' %} {% load static %} {% block content %}
<body>
  <!-- Hero image start Here -->
  <section>
    <div class="hero-img">
      <img
        class="cover-img"
        src="{% static 'image/aasiscovep.jpg' %}"
        alt="Aashish Giri"
        width="100%"
      />
      <div class="container">
        {% if textAnimations %}
        <div class="intro">
          {% for textAnimation in textAnimations %}
          <h1 class="intro-title mb-4">I am {{ textAnimation.name }}</h1>
          <p class="intro-subtitle">
            & I Am A
            <span
              class="txt-rotate"
              data-period="2000"
              data-rotate='[ "{{textAnimation.animation}}", "{{textAnimation.animationI}}", "{{textAnimation.animationII}}", "{{textAnimation.animationIV}}"]'
            ></span
            ><strong class="text-slider"></strong>
          </p>
          {% endfor %}
          {% else %}
            <div class="col-md-12">
              <p>No listing found</p>
            </div>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  <!-- ENd Here -->
  <!-- About start here -->
  <section id="about">
    <div class="container">
      <div class="row-about">
      
      {% if about %}
        {% for abouts in about %}
              <div class="col-about">

                <div class="title-col">
                  <img
                    class="profile"
                    src="{{abouts.photo.url}}"
                    alt="profile"
                    width="100%"
                  />
                </div>
                <div class="title-col">
                  <p class="profile-details">
                    <span class="title-s">Name:</span>
                    <span class="title-dis-s">{{abouts.name}}</span>
                  </p>
                  <p class="profile-details">
                    <span class="title-s"> Profile:</span>
                    <span class="title-dis-s"> {{abouts.profile}} </span>
                  </p>
                  <p class="profile-details">
                    <span class="title-s"> Email: </span>
                    <span class="title-dis-s"> {{abouts.email}} </span>
                  </p>
                  <p class="profile-details">
                    <span class="title-s"> Phone: </span>
                    <span class="title-dis-s"> {{abouts.phone}} </span>
                  </p>
                  <p class="profile-details">
                    <a href="{{abouts.download.url}}" download
                      ><button class="downlaodcv">
                        <i class="fa fa-download"></i>
                        Download CV
                      </button></a
                    >
                  </p>
                </div>
                <div class="u-center">
                  <h5 class="skill-title">skill</h5>
                  <div class="skills">
                    <div class="skill">
                      <h3 class="skill__type">HTML</h3>
                      <div class="skill__outer-bar">
                        <div class="skill__inner-bar skill__inner-bar--100"></div>
                      </div>
                    </div>
                    <div class="skill">
                      <h3 class="skill__type">CSS</h3>
                      <div class="skill__outer-bar">
                        <div class="skill__inner-bar skill__inner-bar--90"></div>
                      </div>
                    </div>
                    <div class="skill">
                      <h3 class="skill__type">JS</h3>
                      <div class="skill__outer-bar">
                        <div class="skill__inner-bar skill__inner-bar--80"></div>
                      </div>
                    </div>
                    <div class="skill">
                      <h3 class="skill__type">Django</h3>
                      <div class="skill__outer-bar">
                        <div class="skill__inner-bar skill__inner-bar--70"></div>
                      </div>
                    </div>
                    <div class="skill">
                      <h3 class="skill__type">Reactjs</h3>
                      <div class="skill__outer-bar">
                        <div class="skill__inner-bar skill__inner-bar--60"></div>
                      </div>
                    </div>
                    <div class="skill">
                      <h3 class="skill__type">SQL</h3>
                      <div class="skill__outer-bar">
                        <div class="skill__inner-bar skill__inner-bar--50"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-about">
                <div class="title-box">
                  <h5 class="title-left">About ME</h5>
                </div>
                <p class="discrip">
                 {{abouts.description}}
                </p>
                <p class="discrip">
                  {{abouts.descriptionI}}
                </p>
                <p class="discrip">
                  {{abouts.descriptionII}}
                </p>
              </div>
            </div>
        {% endfor %} 
      {% else %}
      <div class="col-md-12">
        <p>No listing found</p>
      </div>
  {% endif %}
    </div>
  </section>
  <!-- Ends Here -->
  <!-- service start from here -->
  <section id="service">
    <div class="container">
          <h1 class="service-title">service</h1>
          <p class="service-bio">If you don't like then don't pay</p>
          <div class="service-row">
            {% if services %} 
              {% for service in services %}  
                <div class="service-col">
                  <div class="service-box">
                    <div class="service-content">
                      <span class="ico-circle">
                        <i class="{{service.icons}}" style="font-size: 50px"></i
                      ></span>
                      <h2 class="s-title">{{service.header}}</h2>
                      <p class="service-discrip">
                          {{service.description}}
                      </p>
                    </div>
                  </div>
                </div>            
            {% endfor %}
            {% else %}
            <div class="col-md-12">
              <p>No listing found</p>
            </div>
            {% endif %}
      </div>
  </section>
  <!-- end here -->
  <!-- work  from here-->
  <section id="work">
    <div class="container">
      <h1 class="service-title">portfolio</h1>
      <p class="portfolio-bio">if you don't like my work then don't pay !</p>
      <div class="portfolio-row">
        {% if portfolios %}
          {% for portfolio in portfolios %}
            <div class="portfolio-col">
              <div class="cover">
                <img src="{{portfolio.photo.url}}" alt="" width="100%" />
                <div class="overlay">
                  <p class="web-link">view | details</p>
                </div>
              </div>
              <h5 class="website-name">{{portfolio.imageheader}}</h5>
            </div>
          {% endfor %}
        {% else %}
        <div class="col-md-12">
          <p>No listing found</p>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  <!-- ends here -->
  <!-- contact from start from here -->
  <section id="contact">
    <div
      class="contact-bg-img"
      style="background-image: url(/image/nature.jpg); height: 700px"
    >
      <div class="bg-color">
        <div class="container">
          <div class="contact-row">
            <div class="contact-col">
              <h5 class="contact-heading">Send Message</h5>
              <div id="form">
                <form
                  name="contact"
                  method="POST"
                  data-netlify="true"
                  netlify-honeypot="bot-field"
                >
                  <input name="form-name" value="contact" type="hidden" />
                  <input
                    type="text"
                    name="name"
                    id="fname"
                    placeholder="Full Name"
                    required="required"
                  />
                  <p class="error">The Name must be more than four letters</p>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="example@gmail.com"
                    required="required"
                  />
                  <p class="error">Please write the email correctly</p>
                  <input
                    type="subject"
                    name="subject"
                    id="subject"
                    placeholder="Title"
                    required="required"
                  />
                  <p class="error">The subject can not be empty</p>
                  <input
                    type="number"
                    name="number"
                    id="number"
                    placeholder="number:(+977) 9999-999-999"
                    required="required"
                  />
                  <p class="error">
                    The number length must be greater or equal to 10
                  </p>
                  <textarea
                    type="message"
                    name="message"
                    id="message"
                    rows="5"
                    data-rule="required"
                    placeholder="Message"
                    required="required"
                  ></textarea>
                  <p class="error">
                    Message length must be higher than 50 words
                  </p>
                  <div class="verify-col">
                    <div class="field">
                      <div data-netlify-recaptcha="true"></div>
                    </div>
                  </div>
                  <div class="verify-col">
                    <input type="submit" id="submit" value="send message" />
                  </div>
                </form>
              </div>
            </div>
            <div class="contact-col">
              <h5 class="contact-heading">Get in Touch</h5>
              <p class="get-touch-describe">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim
                quia veniam deserunt magnam eum, cupiditate impedit fugiat est
                nam voluptatibus dolores tenetur libero saepe optio voluptatum
                labore consectetur pariatur quae.
              </p>
              <li class="contact-details">
                <i
                  class="fas fa-map"
                  style="font-size: 18px; margin-right: 10px"
                ></i>
                Kathmandu,Nepal
              </li>
              <li class="contact-details">
                <i
                  class="fas fa-mobile-alt"
                  style="font-size: 18px; margin-right: 16px"
                ></i>
                <a href="tel:+977 9846695452" class="phone-link">
                  (+977)-9846-695-452</a
                >
              </li>
              <li class="contact-details">
                <i
                  class="far fa-paper-plane"
                  style="font-size: 18px; margin-right: 10px"
                ></i>
                <a href="mailto:girishiva93@gmail.com">
                  girishiva93@gmail.com
                </a>
                <h5 class="social-heading">stay connected with me</h5>
                <div class="social-media-row">
                  <div class="social-media-col">
                    <div class="social-icon">
                      <a
                        href="https://www.facebook.com/aasisgiri21/"
                        target="_blank"
                      >
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </div>
                  </div>
                  <div class="social-media-col">
                    <div class="social-icon">
                      <a href="mailto:girishiva93@gmail.com">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </div>
                  </div>
                  <div class="social-media-col">
                    <div class="social-icon">
                      <a
                        href="https://www.instagram.com/aashishgiri21/"
                        target="_blank"
                        ><i class="fab fa-instagram"></i
                      ></a>
                    </div>
                  </div>
                  <div class="social-media-col">
                    <div class="social-icon">
                      <a href="tel:+977 9846695452">
                        <i class="fab fa-viber"></i>
                      </a>
                    </div>
                  </div>
                  <div class="social-media-col">
                    <div class="social-icon">
                      <a href="tel:+977 9846695452">
                        <i class="fab fa-whatsapp"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ends here -->
  {% endblock %}
</body>
