{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shiva Giri</title>
    <!-- icon for service into the website -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- link of bootstrap and css and responsive -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index.style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.style.css' %}" />
    <!-- zendesk -->
    <script
      id="ze-snippet"
      src="https://static.zdassets.com/ekr/snippet.js?key=db500417-ea3c-4a4a-a2c0-48316c97573f"
    ></script>
    <!-- adding icon into web tab -->
    <link rel="icon" href="{% static '/image/Aasis.jpg' %}" />
  </head>
  <body>
    <!-- header -->
    {% include 'headerandfooter/nav.html' %}

    <!-- body -->
    {% block content %} {% endblock %}

    <!-- footer -->
    {% include 'headerandfooter/footer.html' %}

    <!-- contact validation -->
    <!-- <script src="{% static './js/contact.js'%}"></script> -->
    <!-- text animation -->
    <script src="{% static './js/text_animation.js' %}"></script>
    <!-- animation -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
